body,
html {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#container {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	box-sizing: border-box;
}

#container div {
	box-sizing: border-box;
	border-right: none;
	flex: 1;
}

#container div.last-child {
	border-right: 1px solid black;
}
